<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gourmetfriends.gourmet_friends_prj.review.mapper.ReviewMapper">

    <resultMap id="reviewMap" type="com.gourmetfriends.gourmet_friends_prj.review.domain.Review">
        <result property="revBno" column="rev_bno"/>
        <result property="userId" column="user_id"/>
        <result property="restNo" column="rest_no"/>
        <result property="revContent" column="revContent"/>
        <result property="revStar" column="rev_star"/>
        <result property="revPhoto" column="revPhoto"/>
        <result property="reportCnt" column="report_cnt"/>
        <result property="revReplyCnt" column="rev_reply_cnt"/>
    </resultMap>

    <select id="getList" resultMap="reviewMap">
        SELECT * FROM review
        WHERE rev_bno > 0
        ORDER BY rev_bno DESC
    </select>

    <!-- 페이징 처리 -->
    <!-- 총 페이지 수 -->
    <!-- 음식점 코드번호로 게시물 검색 기능 -->
    <!-- 음식점 코드번호로 검색 게시물 조회 -->
    <!-- 목록 조회 통합 검색(음식점 코드, 회원id)-->

    <select id="findByBno" resultMap="reviewMap">
        SELECT * FROM review
        WHERE rev_bno = #{revBno}
    </select>

    <insert id="write">
        INSERT INTO review
            (rev_bno,user_id,rest_no,rev_star,rev_content)
        VALUE(rev_bno,#{userId},#{restNo},#{revStar},#{revContent})
    </insert>

    <update id="update">
        UPDATE review
        SET
            user_id = #{userId},
            rest_no = #{restNo},
            rev_star = #{revStar},
            rev_content = #{revContent}
        WHERE rev_bno = #{revBno}
    </update>

    <delete id="delete">
        DELETE FROM reviw
        WHERE rev_bno = #{revBno};
    </delete>

    <!-- 댓글 수 증가 -->
    <update id="increaseReplyCount">
        UPDATE review
        SET rev_reply_cnt(SELECT COUNT(*) FROM rev_reply WHERE rev_bno = #{revBno})
        WHERE rev_bno = #{revBno}
    </update>


</mapper>