<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gourmetfriends.gourmet_friends_prj.ff_reply.mapper.FFReplyMapper">

    <resultMap id="ffReplyMap" type="com.gourmetfriends.gourmet_friends_prj.ff_reply.domain.FFReply">
        <result property="ffRno" column="ff_rno"/>
        <result property="ffBno" column="ff_bno"/>
        <result property="userId" column="user_id"/>
        <result property="ffContent" column="ff_content"/>
        <result property="ffDate" column="ff_date"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO ff_reply (ff_rno, ff_bno, user_id , ff_content)
        VALUES (seq_ff_reply.nextval, #{ffBno}, #{userId}, #{ffContent})
    </insert>

    <select id="read" resultMap="ffReplyMap">
        SELECT * FROM ff_reply
        WHERE ff_rno = #{ffRno}
    </select>

    <delete id="delete">
        DELETE FROM ff_reply
        WHERE ff_rno = #{ffRno}
    </delete>

    <update id="update">
        UPDATE ff_reply
        SET ff_content = #{ffContent}
        WHERE ff_rno = #{ffRno}
    </update>

    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM ff_reply
        WHERE ff_bno = #{ffBno}
    </select>

    <select id="getList" resultMap="ffReplyMap">
            SELECT ff_rno, ff_bno, ff_content, user_id, ff_date
            FROM ff_reply
            WHERE ff_bno = #{ffBno} AND ff_rno > 0
            LIMIT #{cri.startIndex} offset #{cri.amount}
    </select>

</mapper>