<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gourmetfriends.gourmet_friends_prj.rev_reply.mapper.RevReplyMapper">

    <resultMap id="revReplyMap" type="com.gourmetfriends.gourmet_friends_prj.rev_reply.domain.RevReply">
        <result property="revRno" column="rev_bno"/>
        <result property="revBno" column="rev_bno"/>
        <result property="userId" column="user_id"/>
        <result property="revReply" column="rev_reply"/>
        <result property="revDate" column="rev_date"/>
    </resultMap>
</mapper>