<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gourmetfriends.gourmet_friends_prj.restaurant.mapper.RestaurantMapper">
    <resultMap id="restaurantMap" type="com.gourmetfriends.gourmet_friends_prj.restaurant.domain.Restaurant">
        <result property="restNo" column="rest_no"/>
        <result property="restName" column="rest_name"/>
        <result property="cateCode" column="cate_code"/>
        <result property="restPh" column="rest_ph"/>
        <result property="restTime" column="rest_time"/>
        <result property="restPhoto" column="rest_photo"/>
        <result property="restOaddress" column="rest_oaddress"/>
        <result property="restAddress" column="rest_address"/>
        <result property="restDetailaddress" column="rest_detailaddress"/>
        <result property="restImg" column="rest_img"/>
        <result property="restThumbImg" column="rest_thumb_img"/>
        <result property="cateName" column="cate_name"/>
    </resultMap>

    <resultMap id="cateMap" type="com.gourmetfriends.gourmet_friends_prj.restaurant.domain.Category">
        <result property="cateCode" column="cate_code"/>
        <result property="cateName" column="cate_name"/>
        <result property="cateParent" column="cate_parent"/>
    </resultMap>

    <!-- 음식점 등록 -->
    <insert id="restInsert">
        INSERT INTO restaurant
        (rest_no,rest_name,rest_ph,rest_time,cate_code,
         rest_oaddress,rest_address,rest_detailaddress,rest_img,rest_thumb_img)
        VALUES(seq_restaurant.nextval, #{restName}, #{restPh},#{restTime},#{cateCode},
               #{restOaddress},#{restAddress}, #{restDetailaddress},#{restImg},#{restThumbImg})
    </insert>

    <select id="restList" resultMap="restaurantMap">
        SELECT rest_no,rest_name,rest_ph,rest_time, b.cate_name,rest_oaddress,rest_address,rest_detailaddress
        FROM restaurant a
        LEFT OUTER JOIN category b ON a.cate_code = b.cate_code
        <if test="keyword != null">
            WHERE rest_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY rest_no DESC
        LIMIT #{startIndex}, #{amount}
    </select>

    <select id="restGetTotal" resultType="int">
        SELECT COUNT(*)
        FROM restaurant
        <if test="keyword != null">
            WHERE rest_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="restGetDetail" resultMap="restaurantMap">
        SELECT rest_no, rest_name, b.cate_name, a.cate_code,rest_ph,
               rest_time, rest_oaddress, rest_address, rest_detailaddress,
               rest_img, rest_thumb_img
        FROM restaurant a
        LEFT OUTER JOIN category b ON a.cate_code = b.cate_code
        WHERE rest_no = #{restNo}
    </select>

    <update id="restModify">
        UPDATE restaurant
        SET
            rest_name = #{restName},
            cate_code = #{cateCode},
            rest_ph = #{restPh},
            rest_time = #{restTime},
            rest_oaddress = #{restOaddress},
            rest_address = #{restAddress},
            rest_detailaddress = #{restDetailaddress},
            rest_img = #{restImg},
            rest_thumb_img = #{restThumbImg}
        WHERE rest_no = #{restNo}
    </update>

    <select id="cateList" resultMap="cateMap">
        SELECT *
        FROM category
        ORDER BY cate_code
    </select>

    <delete id="restDelete">
        DELETE FROM restaurant WHERE rest_no = #{restNo}
    </delete>

    <select id="restCateList1" resultMap="restaurantMap" >
        SELECT a.rest_no, a.rest_name, a.cate_code, b.cate_parent, b.cate_name,
               a.rest_img, a.rest_thumb_img
        FROM restaurant a
        INNER JOIN category b ON a.cate_code = b.cate_code
        WHERE a.cate_code = #{cateCode} OR (a.cate_code = #{cateCode} OR b.cate_parent = #{cateParent})
    </select>

    <select id="restCateList2" resultMap="restaurantMap">
        SELECT a.rest_no, a.rest_name, a.cate_code,b.cate_parent, b.cate_name,
               a.rest_img, a.rest_thumb_img
        FROM restaurant a
        INNER JOIN category b ON a.cate_code = b.cate_code
        WHERE a.cate_code = #{cateCode} OR b.cate_parent = #{cateParent}
    </select>

    <select id="restCateList3" resultMap="restaurantMap">
        SELECT a.rest_no, a.rest_name, a.cate_code,b.cate_parent, b.cate_name,
               a.rest_img, a.rest_thumb_img
        FROM restaurant a
        INNER JOIN category b ON a.cate_code = b.cate_code
        WHERE a.cate_code = #{cateCode}
    </select>
</mapper>